<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="styles.css"/>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>#{msgs.paymentInformation}</h1>
            <h:panelGrid columns="2">
                #{msgs.amount}
                <h:outputText value="#{payment.amount}">
                    <f:convertNumber type="currency"/>
                </h:outputText>

                #{msgs.creditCard}
                <!-- Rather than use the converter tag we use the converter attribute -->
                <h:outputText value="#{payment.card}"
                              converter="CreditCardConverter"/>

                #{msgs.expirationDate}
                <h:outputText value="#{payment.date}">
                    <f:convertDateTime pattern="MM/yyyy"/>
                </h:outputText>
            </h:panelGrid>
            <h:commandButton value="#{msgs.back}" action="index"/>
        </h:form>
    </h:body>
</html>
